#main-title{
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: rgba(0,123,255,.25);
}

a {
  color: #333;
  text-decoration: none;
}